@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:where([class=dark], [class=dark] *));



@theme {

  /* font */
  --font-sans: 'Poppins', sans-serif;

  /*Brand Shade / Primary  */
  --color-brand-50: #ffebfe;
  --color-brand-100: #fed7fc;
  --color-brand-200: #fdaff9;
  --color-brand-300: #fd8cf7;
  --color-brand-400: #fc64f4;
  --color-brand-500: #fb3cf1;
  --color-brand-600: #f505e9;
  --color-brand-700: #b904b0;
  --color-brand-800: #780272;
  --color-brand-900: #3c0139;
  --color-brand-950: #1e011d;

  /* Secondary Shades */
   --color-secondary-50: #ebfaff;
  --color-secondary-100: #d7f6fe;
  --color-secondary-200: #afecfd;
  --color-secondary-300: #8ce4fd;
  --color-secondary-400: #64dbfc;
  --color-secondary-500: #3cd2fb;
  --color-secondary-600: #05c1f5;
  --color-secondary-700: #0492b9;
  --color-secondary-800: #025e78;
  --color-secondary-900: #012f3c;
  --color-secondary-950: #01181e;

  /* Warning */
  --color-warning-50: #fef5e7;
  --color-warning-100: #fdecce;
  --color-warning-200: #fbd99d;
  --color-warning-300: #f9c56c;
  --color-warning-400: #f7b23b;
  --color-warning-500: #f59e0b;
  --color-warning-600: #c47f08;
  --color-warning-700: #935f06;
  --color-warning-800: #624004;
  --color-warning-900: #312002;
  --color-warning-950: #181001;

  /* Success */
   --color-success-50: #e3fdf4;
  --color-success-100: #c7fae9;
  --color-success-200: #8ef5d3;
  --color-success-300: #56f0bd;
  --color-success-400: #1eeca7;
  --color-success-500: #10b981;
  --color-success-600: #0d9668;
  --color-success-700: #0a714e;
  --color-success-800: #064b34;
  --color-success-900: #03261a;
  --color-success-950: #02130d;

  /* Destructive */
  --color-destructive-50: #feecef;
  --color-destructive-100: #fdd8de;
  --color-destructive-200: #fbb2be;
  --color-destructive-300: #f88b9d;
  --color-destructive-400: #f6657d;
  --color-destructive-500: #f43f5e;
  --color-destructive-600: #e80d32;
  --color-destructive-700: #ae0a25;
  --color-destructive-800: #740719;
  --color-destructive-900: #3a030c;
  --color-destructive-950: #1d0206;

  /* Neutral */
  --color-neutral-50: #f1f2f3;
  --color-neutral-100: #e0e2e5;
  --color-neutral-200: #c2c5cc;
  --color-neutral-300: #a6abb5;
  --color-neutral-400: #888e9b;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #565c67;
  --color-neutral-700: #41454e;
  --color-neutral-800: #2a2d32;
  --color-neutral-900: #151619;
  --color-neutral-950: #0c0c0e;
}

@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-900);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}


.dark {
  --background: var(--color-neutral-900);
  --foreground: #FFFFFF;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}


/* styles/globals.css or wherever your globals are */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}



